<router-outlet>
    <h2>This is a {{title}}</h2>
    <div class="pos-f-t">
        <div class="collapse" id="navbarToggleExternalContent">
          <!-- <p>Testing!</p> -->
          <div class="bg-dark p-4">
            <!-- <h4 class="text-white">Collapsed content</h4>
            <span class="text-muted">Toggleable via the navbar brand.</span> -->
            <!-- <h2>Testing1</h2>
            <h2>Testing2</h2> -->
            <!-- <a routerLink="add" class="nav-item" routerLinkActive="active">Add Server</a> -->
            <ul class="nav nav-pills nav-fill">
              <li class="nav-item">
                <a class="nav-link active" href="/findall">Servers</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/add">Add Server</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Link</a>
              </li>
              <li class="nav-item">
                <a class="nav-link disabled" href="#">Disabled</a>
              </li>
            </ul>
          </div>
        </div>
        <nav class="navbar navbar-dark bg-dark">
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
        </nav>
      </div>
</router-outlet>